body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    --page-side-padding: 110px;
}

.promo__img {
    --promo-image-scale: 330px;
    width: var(--promo-image-scale);
    height: var(--promo-image-scale);

    &__container {
        z-index: 6;
        position: relative;
    }

    &--small {
        width: 260px;
        height: 260px;
    }
}