body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    --page-side-padding: 110px;
}

.promo__img {
    width: 375px;
    height: 400px;

    &__container {
        z-index: 6;
        position: relative;
    }

    &--small {
        width: 314px;
        height: 334px;
    }
}