@import './Colors.scss';
@import './Z-Indexes.scss';
@import './Spacing.scss';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    --page-side-padding: 110px;
    color: $colorBlack;
}

.promo__img {
    width: 375px;
    height: 400px;

    &__container {
        z-index: 6;
        position: relative;
    }

    &--small {
        width: 314px;
        height: 334px;
    }
}

// Forms
.form {
    .input {
        display: block;
    }

    &__inputs {
        margin-top: 60px;

        > .input {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__actions {
        margin-top: 60px;
    }
}

// Form controls
.input {
    width: 460px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    padding: 0.9em;
    box-sizing: border-box;

    &--wrapper {
        padding: 0;
        border: none;
        background: none;
    }

    &__explain {
        font-size: 12px;
        margin-top: 12px;
    }
}

.button {
    background-color: #C4C4C4;
    border: none;
    border-radius: 4px;
    color: $colorBlack;
    padding: 15px;
    font-size: inherit;
    text-align: center;
    display: block;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &--wide {
        width: 300px;
    }

    &--primary {
        background-color: $colorAction;
        color: #FDFDFD;

        &:hover {
            background-color: $colorActionDark;
        }
    }
}