.login {
    padding: var(--page-side-padding);

    &__forgot-password {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        align-items: center;
        margin-top: 6px;
        color: #3EADC1;
    }
}