.vert-section {
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        
        padding-left: var(--page-side-padding);
        padding-right: var(--page-side-padding);

        --inset: var(--page-side-padding);
        padding-top: var(--inset);
        padding-bottom: var(--inset);

        &--no-side-margins {
            padding-left: 0;
            padding-right: 0;
        }

        &--no-height-padding {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}