.vert-section {
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        
        padding-left: var(--page-side-padding);
        padding-right: var(--page-side-padding);

        --inset: var(--page-side-padding);
        padding-top: var(--inset);
        padding-bottom: var(--inset);
    }
}