.main {
    @media (min-width: 1920px) {
        padding-left: 320px;
        padding-right: 320px;
        background-color: #E5E5E5;

        > .splash {
            box-shadow: -5px -4px 12px rgba(137, 143, 156, 0.15), 5px 4px 4px rgba(137, 143, 156, 0.15);
        }
    }
}

.splash {
    &__section__content {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--grow {
            max-width: initial;
            padding-right: var(--inset);
        }

        &--no-grow {
            max-width: 350px;
        }
    }

    > .vert-section {
        &__content {
            display: flex;
            justify-content: space-between;
        }
    }

    &__secondary-promo {
        width: 279px;

        > p {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 0;

            &:first-of-type {
                font-size: 24px;
                font-weight: bold;
                margin-top: 1.5em;
            }
        }

        > img {
            display: block;
            height: 124px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__register-section {
        height: 453px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__register-section-background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__register-section-background-svg {
        height: 100%;
        width: 100%;
    }
}