.main {
    @media (min-width: 1920px) {
        padding-left: 320px;
        padding-right: 320px;
        background-color: #E5E5E5;

        > .splash {
            box-shadow: -5px -4px 12px rgba(137, 143, 156, 0.15), 5px 4px 4px rgba(137, 143, 156, 0.15);
        }
    }
}

.splash {
    &__section__content {
        max-width: 327px;

        &--grow {
            max-width: initial;
            padding-right: var(--inset);
        }

        &--no-grow {
            max-width: 327px;
        }
    }

    > .vert-section {
        &__content {
            display: flex;
            justify-content: space-between;
        }
    }
}